/*
* {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:sans-serif;
}
 

.text h1 span {
    color: white;
}
.input-box {
    background: white;
    max-width: 500px;
    border-radius: 12px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
#input container {
    width: 80%;
    padding: 20px;
}
hr{
    border: none;
    height: 0.5px;
    background-color: lightgrey;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;

}
.container {
    width:100%;
    background-color:lightgrey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    width: 100%;
    max-width: 700px;
    background-color:white;
    height: 70%;
    border-radius: 15px;
    border-bottom-right-radius: 25%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
hr {
    border: none;
    height:0.5px;
    background-color: lightgrey;
    
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:70px;
}
h1 span {
    color: blueviolet;

}
.second-box {
    line-height: 70px;
    margin-top: 20px;

}
/*
.input-field {
  border-radius: 2px;
}*/
 form {
    display: flex;
    width: 60%;
    height: 70px;
   padding: 0 20px;
    gap: 20px;

}
 .item {
display: flex;

flex-direction: column;

 }
 /*
.input-label {
/* margin-bottom: 10px;*/

.field {
  padding: 15px; 
  outline: none;
  border: 1px solid rgb(202, 200, 200);
  margin-top: 5px;
  border-radius: 5px;
  
}
.input-label {
    color:grey;
    font-size: 12.5px;
}

.icon {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
hr{
    width: 100%;
    border: none;
    background-color: rgb(231, 229, 229);

}
@media screen and (max-width:600px) 
{
    .second-box {
        line-height: 70px;
        margin-top: 80px;
    }
    .field {
        padding: 15px; 
        outline: none;
        border: 1px solid rgb(202, 200, 200);
        margin-top: 5px;
        border-radius: 5px;
        width: 90px
    }
    .icon {
        display: flex;
        width: 100%;
        margin-top: 20px;
        align-items: normal;
        justify-content: left;
        text-align: left;
    }
    .text {
        width: 100%;
        max-width: 700px;
        background-color:white;
        height: 60%;
        border-radius: 15px;
        border-bottom-right-radius: 25%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
}
